doctype html
html
  head
    title Chat Application Example
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    #chat-app
      #chat.has-text-centered
        section.section.chat-container
          .container
            .columns
              .box.column.is-2
                h2.title Groups box
                .chat-groups
                  ul#chat-groups
                button#createGroup ++
                button#joinGroup + 
                button#leaveGroup -
              .box.column.is-2
                h2.title Members box
                .group-members
                  ul#group-members
              .box.column.is-6
                h2.title Chatbox
                .chat-messages.has-text-left
                  ul#chat-messages
                form
                  .field.has-addons
                    .control
                      input(type='text', class='input', id='gid' placeholder='Group ID')
                    .control.is-expanded
                      input(type='text', class='input', placeholder='Try to say something', id='message')
                    .control
                      input(type='submit', class='button is-success', value='Send')
      script(src="/js/chat-client.js")